@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  @apply max-w-[1900px] mx-auto p-4;
}

.bg-gradient {
  background: linear-gradient(100.67deg, #0f0f0f 7.93%, #060021 100%);
  opacity: 1;
  background-repeat: no-repeat;
  width: 100%;
}
.nav-bg {
  background: #0f0f0f;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.backgroundimg {
  background-image: url("../src/assets/images/background.png");
  width: 100%;
  min-height: 440px;
}
.pro-bg {
  background: black;
  background-repeat: no-repeat;
}
.card-bg {
  background: #131313;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}
